/* az{
    position:fixed;
    
}
zx{position:fixed;} */

/* img.qwerty{margin:0px;
position:relative;}
 .ui.active.dimmer{
     background-color:none;
 } */
 
img.ui.image.qw:hover  {
    opacity:0.5;
    
}


.ui.modal.transition.visible.active {width:100%;}